<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="goodfeeling.gui"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/testrun_app_name">
        <activity android:name=".TestRun"
                  android:label="@string/testrun_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name="goodfeeling.userstate.balloon.Balloon" />
		<activity android:name="goodfeeling.userstate.picture_test.PictureTest" />
    </application>
</manifest> 